<!-- Modal -->
<div class="modal fade" id="modalNuevaMaquina" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="maquinaForm" (ngSubmit)="guardarMaquina()">
          <div class="modal-header">
            <h5 class="modal-title">Nueva Máquina</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="btnCerrarModal"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" />
            </div>
            <div class="mb-3">
              <label>Descripción</label>
              <textarea class="form-control" formControlName="descripcion"></textarea>
            </div>
            <div class="mb-3">
              <label>Estado</label>
              <select class="form-select" formControlName="estado">
                <option value="Activa">Activa</option>
                <option value="Inactiva">Inactiva</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="guardando || maquinaForm.invalid" 
              >
              {{ guardando ? 'Guardando...' : 'Guardar' }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarModal">Cancelar</button>
          </div>

        </form>
        
      </div>
    </div>
  </div>
  