<!-- Modal Editar -->
<div id="modalEditar" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"> <!-- Clase añadida para centrar el modal -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Máquina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="btnCerrarModaleditar"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="maquinaForm" (ngSubmit)="guardarCambios()">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" formControlName="nombre">
            </div>
            <div class="mb-3">
              <label class="form-label">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>
            <div class="mb-3">
              <label class="form-label">Estado</label>
              <select class="form-select" formControlName="estado">
                <option value="Activa">Activa</option>
                <option value="Inactiva">Inactiva</option>
              </select>
            </div>
         
        
        <div class="modal-footer">

            <button 
            type="submit" 
            class="btn btn-primary" 
            [disabled]="guardando || maquinaForm.invalid" 
           >
            {{ guardando ? 'Guardando...' : 'Guardar' }}
          </button>

         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>

      </form>
      </div>
    </div>
</div>