<!-- Modal -->
<div class="modal fade" id="modalNuevoProveedor" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="proveedorForm" (ngSubmit)="guardarProveedor()">
          <div class="modal-header bg-success text-white">
            <h5 class="modal-title">Agregar Nuevo Proveedor</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar" id="CerrarModalProveedor"></button>
          </div>

           <div class="modal-body">
            <div class="mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" />
            </div>

            <div class="mb-3">
              <label>Telefono</label>
              <input type="text" class="form-control" formControlName="telefono"/>
            </div>

            <div class="mb-3">
              <label>Correo</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>
               
            <div class="mb-3">
              <label>Direccion</label>
              <input type="text" class="form-control" formControlName="direccion" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarModal">Cancelar</button>
            <button 
              type="submit" 
              class="btn btn-success" 
              [disabled]="guardando || proveedorForm.invalid" 
              >
              <i class="bi bi-plus-circle me-2"></i>{{ guardando ? 'Guardando...' : 'Crear Proveedor' }}
            </button>
          </div>

        </form>
        
      </div>
    </div>
  </div>
  