<!-- Modal -->
<div class="modal fade" id="modalNuevoProveedor" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="proveedorForm" (ngSubmit)="guardarProveedor()">
          <div class="modal-header">
            <h5 class="modal-title">Nueva Proveedor</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" id="CerrarModalProveedor"></button>
          </div>

           <div class="modal-body">
            <div class="mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre" />
            </div>

            <div class="mb-3">
              <label>Telefono</label>
              <input type="text" class="form-control" formControlName="telefono"/>
            </div>

            <div class="mb-3">
              <label>Correo</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>
               
            <div class="mb-3">
              <label>Direccion</label>
              <input type="text" class="form-control" formControlName="direccion" />
            </div>
          </div>

          <div class="modal-footer">
            <button 
              type="submit" 
              class="btn btn-primary" 
              [disabled]="guardando || proveedorForm.invalid" 
              >
              {{ guardando ? 'Guardando...' : 'Guardar' }}
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarModal">Cancelar</button>
          </div>

        </form>
        
      </div>
    </div>
  </div>
  