<div class="container my-4">
    <h2 class="mb-4 text-success">Panel de Control</h2>
  
    <div class="row g-4">
      <!-- Tarjeta: Cortes activos -->
      <div class="col-md-4">
        <div class="card border-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-success">Cortes Activos</h5>
            <p class="card-text">Ver y administrar cortes en proceso.</p>
            <a href="#" class="btn btn-success btn-sm">Ir a Cortes</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Proveedores -->
      <div class="col-md-4">
        <div class="card border-warning shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-warning">Proveedores</h5>
            <p class="card-text">Administra la lista de proveedores.</p>
            <a routerLink="/proveedores" class="btn btn-dark btn-sm">Ir a Proveedores</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Temporadas activas -->
      <div class="col-md-4">
        <div class="card border-primary shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-primary">Repuestos</h5>
            <p class="card-text">Gestiona los repuestos.</p>
            <a routerLink="/repuestos" class="btn btn-primary btn-sm">Ir a Repuestos</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Trabajadores -->
      <div class="col-md-4">
        <div class="card border-info shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-info">Trabajadores</h5>
            <p class="card-text">Gestiona la información del personal de trabajo.</p>
            <a routerLink="/trabajadores" class="btn btn-info btn-sm text-white">Ver Trabajadores</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Maquinarias -->
      <div class="col-md-4">
        <div class="card border-dark shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">Maquinaria</h5>
            <p class="card-text">Accede al control de máquinas y sus repuestos.</p>
            <a routerLink="/maquinas" class="btn btn-dark btn-sm">Ir a Maquinaria</a>
          </div>
        </div>
      </div>

       <!-- Tarjeta: Clientes -->
      <div class="col-md-4">
        <div class="card border-dark shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-dark">Clientes</h5>
            <p class="card-text">Administra tus Clientes</p>
            <a routerLink="/clientes" class="btn btn-dark btn-sm">Ir a Clientes</a>
          </div>
        </div>
      </div>

      <!-- Tarjeta: Tipos de Trabajadores -->
      <div class="col-md-4">
        <div class="card border-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-success">Tipos de Trabajadores</h5>
            <p class="card-text">Gestiona los tipos de trabajadores</p>
            <a routerLink="/tipos-trabajadores" class="btn btn-success btn-sm">Ir a Tipos de Trabajadores</a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta: Insumos -->
      <div class="col-md-4">
        <div class="card border-secondary shadow-sm">
          <div class="card-body">
            <h5 class="card-title text-secondary">Insumos</h5>
            <p class="card-text">Controla los recursos usados en los cortes.</p>
            <a href="#" class="btn btn-secondary btn-sm">Ver Insumos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  